{
  padding: 0;
  margin: 0;
}

.h1{ 
  padding-top: 10px;
  display: flex;
  justify-content: center;
  justify-items: center;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;

  
}

.kintil{
  height: 100vh;
}
.h3{
  padding-top : 15px;
  color : White;
  font-size: 15px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.container{
  background-color: black;
  color: White;
  border-radius: 3px;
  width: 250px;
  height: 25px;
}

.hint{
	color: var(--tg-theme-hint-color);
}

.link{
	color: var(--tg-theme-link-color);
}

.button{
	background: var(--tg-theme-button-color);
	color: var(--tg-theme-button-text-color);
	border: none;
	font-size: 18px;
}

.button:not(:last-child){
	margin-bottom: 20px
}

#usercard{
	text-align: center;
}