{
  padding: 0;
  margin: 0;
}

.h1{ 
  padding-top: 30px;
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: white;
  color: black;
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: 2px;
}

.h3{
  padding-top : 15px;
  color : black;
  font-size: 5px;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.container{
  background-color: black;
  color: white;
  border-radius: 3px;
  width: 300px;
  height: 50px;
  margin-left: 30px;
}

.hint{
	color: var(--tg-theme-hint-color);
}

.link{
	color: var(--tg-theme-link-color);
}

.button{
	background: var(--tg-theme-button-color);
	color: var(--tg-theme-button-text-color);
	border: none;
	font-size: 18px;
}

.button:not(:last-child){
	margin-bottom: 20px
}

#usercard{
	text-align: center;
}