{
  padding: 0;
  margin: 0;
}

body{
  background: var(--tg-theme-bg-color);
  margin-left: -10px ;
}
  

.kintil{
  height: 100vh;
}

.container{
  background: var(--tg-theme-button-color);
  color: White;
  border-radius: 3px;
  width: 180px;
  height: 35px;
  margin-left: 30px;
}

.text{
  justify-items: center;
  justify-content: center;
  color : var(--tg-theme-text-color);
  display: flex;
}

.hint{
  display: flex;
  justify-content: center;
  justify-items: center;
	color: var(--tg-theme-hint-color);
	font-size: 10px;
	letter-spacing: 2px;
	padding: 0;
}

.link{
	color: var(--tg-theme-link-color);
}

.button{
	background: var(--tg-theme-button-color);
	color: var(--tg-theme-button-text-color);
	border: none;
	font-size: 18px;
}

.button:not(:last-child){
	margin-bottom: 20px
}

#usercard{
	text-align: center;
}