{
  padding: 0;
  margin: 0;
}

.card {
  box-sizing: border;
  height: 30vh;
  display: flex;
  
}

.img{
  width: 160px;
  height: 140px;
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 10px;
}

.card_title{
 
  color: var(--tg-theme-text-color);
  font-size: 10px;
  letter-spacing: 2px;
  text-align: center;
}
