/* Reset CSS */
body {
  padding: 0;
  margin: 0;
}

/* .card_video styling */
.card_video {
  text-align: center;
}

/* .image styling */
.image {
  max-width: 100%;
  height: 100px;
  border-radius: 11px;
}

/* .card_title styling */
.card_title {
  color: var(--tg-theme-text-color);
  position: relative;
  margin-top: -3px;
}

/* .ADD styling */
.ADD {
  background-color: #383838;
  width: 50%;
  height: 30px;
  border: 2px solid #383838;
  color: white;
  font-family: Arial;
  border-radius: 8px;
}

/* .button_kurang styling */
.button_kurang {
  background-color: #15171a;
  font-weight: 10px;
  width: 35px;
  margin-right: 5px;
  border: 2px solid #15171a;
  color: white;
  height: 30px;
  border-radius: 10px;
}

/* .button_tambah styling */
.button_tambah {
  background-color: #383838;
  font-weight: 10px;
  width: 35px;
  border: 2px solid #383838;
  color: white;
  height: 30px;
  border-radius: 10px;
}

/* .card styling */
.card {
  margin: 12px;
  padding: 2px; /* Perhatikan penulisan 'padding' yang benar */
  border-radius: 10px;
}

/* .count-clicked styling */
.card .count-clicked {
  transform: scale(1.1);
  transition: transform 0.2s;
}
