{
  pading: 0;
  margin: 0;
}
.card {
  transition: transform 0.2s;
  margin: 12px;
  pading: 12px;
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.card.active {
 background-color: var(--tg-theme-bg-color);
}

.card_video {
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.card_title {
  margin-top: 4px;
  color: var(--tg-theme-text-color);
}

